{% extends "base.html" %}

{% block title %}
{{ table_name }}
{% endblock %}

{% block content %}

<!-- ==========================================================
     Generic Table Viewer

     Purpose
     -------
     Display the contents of any PostgreSQL table.

     Future Scope
     ------------
     - Pagination
     - Sorting
     - Search
     - Edit
=========================================================== -->

<h2>

Table : {{ table_name }}

</h2>


<!-- ==========================================================
     Table Information
=========================================================== -->

<table>

<tr>

    <th>Rows</th>

    <td>{{ table_info.row_count }}</td>

</tr>

<tr>

    <th>Columns</th>

    <td>{{ table_info.column_count }}</td>

</tr>

<tr>

    <th>Primary Key</th>

    <td>{{ table_info.primary_key }}</td>

</tr>

</table>

<br>



<p>

Displaying the first {{ rows|length }} rows.

</p>

<hr>

<table>

<thead>

<tr>

{% for column in columns %}

    <th>

        {{ column }}

    </th>

{% endfor %}

</tr>

</thead>

<tbody>

{% for row in rows %}

<tr>

    {% for value in row %}

    <td>

        {{ value }}

    </td>

    {% endfor %}

</tr>

{% endfor %}

</tbody>

</table>

<p>

<a href="/database-explorer">

← Back to Database Explorer

</a>

</p>

{% endblock %}
